<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.srb.mybatisplus.mapper.UserMapper">
    <select id="getUserByName" resultType="com.atguigu.srb.mybatisplus.pojo.entity.User">
        select * from user  where name like CONCAT('%',#{name},'%')
    </select>
    <select id="selectByMyPage" resultType="com.atguigu.srb.mybatisplus.pojo.entity.User">
        select * from `user` where is_deleted = 0 -- 注意后面不要加;结尾,因为mybatisplus 要在后面拼接 limit pageNum,size
    </select>
</mapper>
